.App {
  text-align: center;
}

:root{
  --main-color:#0b0b0b;
}

body{
  font-family: 'Hurricane', cursive;
  font-family: 'Oswald', sans-serif;
  font-size: 80%;
}



@media (prefers-reduced-motion: no-preference) {

}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
