.listitem{
  /*  background-color: rgb(245, 244, 244);*/
    width: 10rem;
    height: 7rem;
  /*  margin-right: 5px;*/
    padding: 5px;
    box-sizing: border-box;
  /*  border:1px solid #999;*/
    color:#999;
   /* overflow: hidden;*/

    .innerbox{
        width:100%;
        height:100%; background: rgb(245, 244, 244);
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        -webkit-box-shadow:0px 2px 8px 0px rgba(146, 146, 118, 0.5);
        overflow: hidden;
        transition: all 0.6s ease;

        a{ color:#fff; text-decoration: none; display:flex; align-items: center;}

        img{
          width: 100%; 
          object-fit: cover;
          display: block;
        }

        .trailer{
          display:none;
          width: 100%; 
          object-fit: cover;
          -webkit-box-shadow:0px 2px 8px 0px rgb(159 159 109 / 50%);
        }

      .itemInfo{
        position:relative;
        display:flex;
        flex-direction:column;
        padding:5px;
        box-sizing:border-box;
      /*  bottom: -5px;*/ left: 0px; 
        background-color: black;
        width: 100%;
        color:#fff;
        .icons{ display:flex;
          .icon{ 
            width: 1.2rem; margin-right: 5px;
            cursor: pointer; border:1px solid #fff;
            padding:2px; 
            border-radius:50%;
            font-size: 0.6rem;
            flex-basis: 0.6rem;
            }
        }
        .desc{
          font-size: 0.6rem;
          font-weight: 100;
          display: none;
          text-align:left;
          height: 5rem;
          text-overflow: ellipsis;
          padding:0px 5px;
          overflow: hidden; 
          white-space: wrap;
           word-wrap: break-word;
        }
        .limit{
          padding:0px 4px;
          border-right:1px solid #ccc;
          margin-right:4px;
          font-size:0.7rem;
          height:0.7rem;
        }
      }

              
        &:hover{
          transform: scale(1.5);
          z-index: 888;
          overflow: visible;

          img{display: none;}
          .trailer{display: block;}
          
          .itemInfo{
            -webkit-box-shadow:0px 2px 8px 0px rgba(146, 146, 118, 0.5);
            .desc{
              display: block;
              height: 6rem;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }

    }

}